<div>
  <p>{{url}}</p>
</div>

<div>
  <button ng-click="stateGraphController.getStatesSlice('Top Fifteen States', 0, 15)">Graph Top Fifteen States</button>
  <button ng-click="stateGraphController.getStatesSlice('Top Five States', 0, 5)">Graph Top Five States</button>
  <button ng-click="stateGraphController.getStatesSlice('Bottom Ten States', 42, 52)">Graph Bottom Ten States</button>
</div>

<select ng-model="stateGraphController.chartSelect.value" ng-options="v for v in stateGraphController.chartSelect.values" ng-change="stateGraphController.chartTypeUpdate()">
</select>

<div google-chart chart="stateGraphController.chartObject" style="height:600px; width:100%;"></div>

<pre id="stateGraphController.debug"></pre>
