<div class="jumbotron">
  <h1>Census States</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    The US Census Bureau
  </p>
  <p><a class="btn btn-lg btn-success" ng-click="checkConnection()">Enough&nbsp;<span class="glyphicon glyphicon-ok"></span></a></p>

</div>

<div class="alert alert-success" role="alert">
    <p>{{connectionStatus}}</p>
</div>
<div class="alert alert-danger" role="alert">
    <p>{{connectionStatus}}</p>
</div>

<div class="row marketing">
  <h4>Query the US Census</h4>
  <p>
    Run queries against the US Census bureau to get information on state populations.
  </p>

</div>


